/* SIDEBAR */

// LAYOUT
// - wrapper and content
$wrapper-bg: #1b1e24;
$content-bg: #F9F9F9;
// - sidebar
$sidebar-bg: #323745;
$sidebar-li-bg: #323745;
$sidebar-li-second-bg: #242832;
$sidebar-link-color: #cccccc;
$sidebar-link-color-active: #ffffff;
$sidebar-width: 250px;
